@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1 {
    font-family: cursive;
    color: rgb(223, 41, 41);
}
.fondo{
    
    text-align: center;
    font-size:small;
}
.hojaPrincipal{
    background-color: blanchedalmond;
    width: 25%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    border-color: rgb(213, 74, 28);

}
.hoja3{
    background-color: rgb(214, 191, 155);
width:21% ;
height: 5px;
margin: 0 auto;
text-align: center;
border-color:1px 1px 1px rgb(25, 25, 24);
border-bottom: 1px;
}
.hoja2{background-color: rgb(240, 212, 171);
width:23% ;
height: 5px;
margin: 0 auto;
text-align: center;
border-color:1px 1px 1px rgb(25, 25, 24);
border-bottom: 1px;}
.pencil{
    background-color: azure;
    border-color: rgb(195, 83, 45);
}
#hoja1 {
    border-color:burlywood;
    height: 35px;
    background-color: blanchedalmond;
}
button{border-color: transparent;
background-color: blanchedalmond;}
.btn:before{
    content: none;

}
.btn:after{
    content: "x";
    opacity: 0;
}
.btn:hover:after{
    transform: translate(-50%, -50%) scale(3);
    opacity: 1;

}